:root {
  --cor1: #f0e3ca;
  --cor2: #ff8303;
  --cor2-hover: #ec7905;
  --cor3: #a35709;
  --cor4: #1b1a17;
  --cor5: #f5f4f4;
  --fonteDestaque: "Montserrat", sans-serif;
  --fontePadrao: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--fontePadrao);
}
img {
  display: block;
  max-width: 100%;
}
.container {
  margin: 0 auto;
  max-width: 28.125rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

/* HEADER */
.header {
  padding: 1rem 0;
  margin-bottom: 2rem;
  background: var(--cor3);
}

/* FORM */
.tittle {
  font-family: var(--fonteDestaque);
  font-size: 1.563rem;
  font-weight: 500;
  color: var(--cor4);
}
.tittle::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.1rem;
  background: var(--cor2);
  border-radius: 1rem;
}
.conversor-box,
.resultado-box {
  background: var(--cor5);
  border-radius: 4px;
  border: 1px solid var(--cor2);
  margin-top: 1rem;
}
.cotacao {
  font-size: 0.7rem;
  padding: 0.3rem;
  font-family: var(--fonteDestaque);
  opacity: 0.6;
}
.dataCotacao {
  font-family: var(--fontePadrao);
  margin-left: 0.2rem;
}
.containerFormulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}
.containerFormulario label {
  display: block;
  font-size: 0.9rem;
  font-family: var(--fonteDestaque);
  font-weight: 600;
  margin-bottom: 0.2rem;
}
.containerFormulario input {
  display: block;
  width: 100%;
}
.containerFormulario input:focus,
select:focus {
  outline: 1px solid var(--cor2);
}
.valorInserido {
  padding: 0.5rem;
  border: none;
  box-shadow: 0px 1px 2px rgba(27, 26, 23, 0.25);
  border-radius: 4px;
}
.form-grupo {
  flex: 0 0 auto;
  width: 100%;
}
.containerFormulario div:nth-child(n + 2) {
  margin-top: 1.3rem;
}
.form-select {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: none;
  box-shadow: 0px 1px 2px rgba(27, 26, 23, 0.25);
  border-radius: 4px;
}
.form-select option:hover {
  background: var(--cor2);
}
.swap-box {
  align-self: center;
  margin-bottom: -1rem;
}
.btnConverter {
  padding: 0.5rem;
  background: var(--cor2);
  border-radius: 4px;
  /* border: 1px solid var(--cor4); */
  border: none;
  color: var(--cor1);
  font-family: var(--fonteDestaque);
  cursor: pointer;
  font-weight: 500;
}
.btnConverter:hover {
  background: var(--cor2-hover);
}

/* RESULTADO */
.sub-title {
  font-family: var(--fonteDestaque);
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 2.5rem;
}
.sub-title::after {
  content: "";
  display: block;
  width: 2.5rem;
  height: 0.1rem;
  background: var(--cor2);
  border-radius: 1rem;
}
.resultado-box {
  padding: 1rem 2rem;
}
.valorConvertido {
  margin-bottom: 1rem;
}
.taxa-title {
  font-family: var(--fonteDestaque);
  font-weight: 600;
}
.valorMoeda {
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

/* MODAL ERROR */
.modal-container {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.082);
  padding-left: 1rem;
  padding-right: 1rem;
}
.modal-container.active {
  display: flex;
}
.modal {
  background: #fff;
  padding: 1rem;
  border-radius: 4px;
  position: relative;
  border: 2px solid var(--cor3);
  font-family: var(--fonteDestaque);
}
.closeModal {
  position: absolute;
  right: 0.2rem;
  top: -0.1rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
.ops {
  color: var(--cor2);
  font-size: 2rem;
}
.textErro {
  font-style: italic;
  font-weight: 500;
  margin-top: 0.2rem;
}
/* FOOTER */
.footer {
  background: var(--cor3);
  color: var(--cor1);
  font-family: var(--fonteDestaque);
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
}

@media (min-width: 50.6rem) {
  html {
    font-size: 20px;
  }
  .container {
    max-width: 48rem;
    margin: 0 auto;
  }
  .logo img {
    width: 9rem;
  }
  .containerFormulario {
    flex-direction: row;
    align-items: center;
    gap: 0.65rem;
  }
  .form-grupo {
    flex: 0 0 auto;
    width: 30%;
  }
  .containerFormulario div:nth-child(n + 2) {
    margin: 0;
  }
  .swap-box img {
    margin-top: 1.5rem;
  }
  .resultado-box {
    max-width: 20rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .btnConverter {
    margin-top: 0.5rem;
  }
  .valorInserido,
  .form-select,
  .btnConverter {
    padding: 0.8rem;
  }
  .btnConverter {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  .valorConvertido {
    font-size: 1.1rem;
  }

  .modal-container {
    display: initial;
    position: initial;
    height: 100%;
    flex: 0 0 auto;
    width: 66.5%;
    text-align: center;
    align-self: center;
    margin-top: 0.5rem;
    padding-left: 0;
    padding-right: 0;
  }
  .modal-container.active {
    display: initial;
  }
  .modal {
    padding: 0.5rem;
    display: none;
  }
  .modal.active {
    display: block;
  }
  .closeModal {
    font-size: 0.6rem;
    right: 0.1rem;
    top: 0rem;
  }
  .ops {
    font-size: 1rem;
    display: none;
  }
  .textErro {
    font-size: 0.64rem;
  }
}
